<div class="sidebar">
    <div class="home">
        <%= image_tag 'home.png' %>
        <h3>ホーム</h3>
    </div>
    
    <div class="hush">
        <%= image_tag 'hush.png' %>
        <h3>話題を検索</h3>
    </div>
    
    <div class="bell">
        <%= image_tag 'bell.png' %>
        <h3>通知</h3>
    </div>
    
    <div class="mail">
        <%= image_tag 'mail.png' %>
        <h3>メッセージ</h3>
    </div>
    
    <div class="bookmark">
        <%= image_tag 'bookmark.jpg' %>
        <h3>ブックマーク</h3>
    </div>
    
    <div class="list">
        <%= image_tag 'list.png' %>
        <h3>リスト</h3>
    </div>
    
    <div class="profile">
        <%= image_tag 'profile.jpg' %>
        <h3>プロフィール</h3>
    </div>
    
    <div class="view">
        <%= image_tag 'leader.png' %>
        <h3>もっと見る</h3>
    </div>
    
    <div class="new">
    <%= link_to 'ツイートする', new_tweet_path %><!--'tweets/new'-->
    </div>
</div>